$dark-red: #822000;
$paper: #f8f2d3;
$brown: #957a41;

input {
  font-family: "modesto-text", serif;
  background: none;
  border: none;
  font-size: 18px;
	// width: 100%;
	text-align: center;
}

.form_container {
  // width: 100%;
  display: flex;
}

.field_container {
  flex-grow: 1;
}

.field_container label {
  display: block;
}

.form_container input {
  border: 2px solid #CCC;
  border-radius: 4px;
  margin-top: 5px;
  text-align: left;
  padding: 5px;
  width: 80%;
  background: #FFF;
}

input:focus {
  outline: $dark-red auto 5px;
}

.initiative_entry {
  display: grid;
  grid-template-columns: 25px auto 30px 30px;
  grid-template-rows: auto;
  border: 0;
  border-bottom: 1px solid $dark-red;
  // border-radius: 4px;
	padding: 5px 15px;
	margin-bottom: 1px;
  // background-color: #FDFDFD;
}

.initiative_entry:focus {
  outline: $dark-red auto 5px;
}

.initiative_entry.is_dragging {
  background-color: #EEE;
}

.initiative_entry__active {
  border: 3px solid blue;
}

.initiative_entry__active .hamburgerIcon {
  opacity: 100%;
}

.initiative_entry input {
  text-align: left;
}

.initiative_entry div {
  display: inline-block;
  overflow: hidden;
}

.initiative_entry .deleteIcon {
  display: none ;
  float: right;
}

.initiative_entry:hover {

  background-color: darken($paper, 5%);

  .deleteIcon {
    display: block;
  }
}


.deleteIcon, .hamburgerIcon, .goIcon {
  height: 16px;
	width: 16px;
  opacity: .25;
}

.deleteIcon:hover {
  opacity: .5;
  cursor: pointer;
}

.hamburgerIcon {
  padding-top: 2px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}