body {
  background-image: url('../../assets/images/parchment.png');
  background-repeat: repeat-y;
  background-size: 100%, 100%;
  background-color: #222222;
  font-family: "modesto-text", serif;
  margin-left: 5%;
  margin-right: 5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "modesto-text", serif;
  color: #910000;
}

h1 {
  width: 100%;
  font-size: 2em;
  margin-bottom: 5px;
}

h2 {
  width: 100%;
  font-size: 1em;
  color: #000000;
  margin-bottom: 0;
}

.dividerImage {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rainbow_flag img {
  height: 32px;
  width: 32px;
}

button {
  padding: 10px;
  border-radius: 4px;
  background-color: #910000;
  color: white;
  border: none;
  font-size: 16px;
  font-family: "modesto-text", serif;
}

.App {
  padding-left: 15%;
  padding-right: 15%;
  min-width: 250px;
}

/*https://codepen.io/swards/pen/gxQmbj*/
.chat {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.messages {
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}
.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: tan;
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  position: relative;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: tan;
  border-bottom-left-radius: 10px;
}

.message.header {
  font-size: 1.5rem;
  min-width: 250px;
}

.chat.collapsed {
  height: 0;
  overflow: hidden;
}

.chat.expanded {
  height: auto;
  transition: all 1s ease;
}