body {
  background-image: url('../../assets/images/parchment.png');
  background-repeat: repeat-y;
  background-size: 100%, 100%;
  background-color: #222222;
  font-family: "modesto-text", serif;
  margin-left: 5%;
  margin-right: 5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "modesto-text", serif;
  color: #910000;
}

h1 {
  width: 100%;
  font-size: 2em;
  margin-bottom: 5px;
}

h2 {
  width: 100%;
  font-size: 1em;
  color: #000000;
  margin-bottom: 0;
}

.dividerImage {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rainbow_flag img {
  height: 32px;
  width: 32px;
}

button {
  padding: 10px;
  border-radius: 4px;
  background-color: #910000;
  color: white;
  border: none;
  font-size: 16px;
  font-family: "modesto-text", serif;
}

.App {
  padding-left: 15%;
  padding-right: 15%;
  min-width: 250px;
}






.message.header {
  font-size: 1.5rem;
  min-width: 250px;
}

.chat.collapsed {
  height: 0;
  overflow: hidden;
}

.chat.expanded {
  height: auto;
  transition: all 1s ease;
}