body {
  background-image: url('./assets/parchment.png');
  background-repeat: repeat-y;
  background-size: 100%, 100%;
  background-color: #222222;
  font-family: "modesto-text", serif;
  margin-left: 5%;
  margin-right: 5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "modesto-text", serif;
  color: #910000;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 3em;
}

button {
  padding: 10px;
  border-radius: 4px;
  background-color: #910000;
  color: white;
  border: none;
  font-size: 24px;
  font-family: "modesto-text", serif;
}