input,
textarea {
  font-family: "modesto-text", serif;
  background: none;
  border: none;
  font-size: 18px;
	width: 100%;
	text-align: center;
}

textarea {
  width: 100%;
  text-align: left;
  font-size: 18px;
}

.initiative_entry {
  display: grid;
  grid-template-columns: 25px auto 30px 30px;
  grid-template-rows: auto;
  border: 1px solid brown;
  border-radius: 4px;
	padding: 5px 15px;
	margin-bottom: 1px;
  background-color: beige;
}

.initiative_entry.is_dragging {
  background-color: lightgray;
}

.initiative_entry input {
  /* border: 1px solid hotpink; */
  text-align: left;
  /* width: 50%; */
}

.input {
  display: flex;
}

.input div {
  /* width: 50%; */
  padding-right: 5px;
}

.input input {
  border-bottom: 1px solid brown;
}

.initiative_entry div {
  display: inline-block;
  overflow: hidden;
}

.displayNumber {
  font-size: 18px;
  align-self: center;
}
.actions {
  align-self: center;
}
.name {
  align-self: center;
}
.initiative_roll {
	align-self: center;
}

.initiative_entry .deleteIcon {
  display: none ;
  float: right;
}

.initiative_entry:hover .deleteIcon {
  display: block;
}

.deleteIcon, .hamburgerIcon, .goIcon {
  height: 16px;
	width: 16px;
  opacity: .25;
}

.hamburgerIcon {
  padding-top: 2px;
}

.deleteIcon:hover {
	opacity: .5;
	cursor: pointer;
}
