input,
textarea {
  font-family: "modesto-text", serif;
  background: none;
  border: none;
  font-size: 18px;
	width: 100%;
	text-align: center;
}

textarea {
  width: 100%;
  text-align: left;
  font-size: 18px;
}

.initiative_entry {
  display: grid;
  grid-template-columns: 30px auto auto;
  grid-template-rows: auto;
  border: 1px solid brown;
  border-radius: 4px;
	padding: 5px 15px;
	margin-bottom: 1px;
  background-color: beige;
}

.input {
  display: flex;
}

.input div {
  width: 50%;
  padding-right: 5px;
}

.input input {
  border-bottom: 1px solid brown;
}

.initiative_entry div {
  display: inline-block;
  overflow: hidden;
}

.displayNumber {
  font-size: 18px;
  align-self: center;
}
.actions {
  align-self: center;
}
.name {
  align-self: center;
}
.initiative_roll {
	align-self: center;
}

.initiative_entry .deleteIcon {
  display: none;
}

.initiative_entry:hover .deleteIcon {
  display: block;
}

.deleteIcon {
  height: 16px;
	width: 16px;
  opacity: .25;
}

.deleteIcon:hover {
	opacity: .5;
	cursor: pointer;
}
